@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* background variables */
  --bg-snow-white: #ebebeb;
  --light-grey-stroke: #bcbcbc;
  --lightest-grey-stroke: #e7e4e4;

  /* font variables */
  --black-color: #000000;
  --default-font-size: 16px;

  /* button variables */
  --main-bg: #116b5a;
  --secondary-bg: #ffffff;

  /* input variables */
  --label-color: #ababab;
}

html {
  height: 100vh;
}

body {
  height: 100vh;
  color: var(--black-color);
  background-color: var(--snow-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: var(--default-font-size);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
